.logo-text-1 {
    font-size: 60px;
    background: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo-text-2 {
    color: white;
    font-size: 40px;
}